[Unit]
Description=NatLog
Requires=network.target
Before=shutdown.target
After=local-fs.target
After=network-online.target
Wants=network-online.target
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/opt/natlog/bin/natlog -c /opt/natlog/etc/natlog.yaml
PIDFile=/run/natlog.pid
KillMode=mixed
TimeoutStopSec=30
User=nobody

[Install]
WantedBy=multi-user.target
